@charset "UTF-8";
/* CSS Document */


html {
}
html::-webkit-scrollbar{ width:0px;
background:transparent;}
html::-webkit-scrollbar-thumb{
background:white;}
html::-webkit-scrollbar-track{
background:transparent;}


#top, #bottom, #left, #right {
	z-index:99;
	background: #0033FF;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 12px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 12px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
		