body {
	width:100%;
	margin:0px;
}


html {
}
html::-webkit-scrollbar{ width:0px;
background:transparent;}
html::-webkit-scrollbar-thumb{
background:white;}
html::-webkit-scrollbar-track{
background:transparent;}



ul { list-style-type: none;
font-family: 'Source Sans Pro', sans-serif;
text-decoration:none;
	font-size:13px;
color:black;
}


.aboutnav {
	margin:70px 43%;
	text-align:center;
	position:fixed;
	z-index:10;
	  display: block;
  clear: both;
  text-align: center;

background-color:white;
	color:black;
	text-decoration:none;
	
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
font-family: 'Source Sans Pro', sans-serif;
  color: #000000;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

.aboutnav:hover {
  background: #00ffdd;
  text-decoration: none;
}


li a:link{ color:black;
text-decoration:none;
}

li a:visted{ color:black;
text-decoration:none;
}


li a:hover{ color:black;
}


/*.skynav {
	margin-right:220px;
	margin-top:10px;
	width:20px;
	height:30px;
	float:right;
	color:black;

}*/


#top, #bottom, #left, #right {
	z-index:99;
	background: #0033FF;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 12px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 12px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
		
		

.title{
text-align:center;
width:100%;
font-size:180px;
text-transform:uppercase;
color:black;
letter-spacing:2px;
font-family: 'Source Sans Pro', sans-serif;
font-weight:600;
position: fixed;
top: 265px;
z-index: 10;
background:none;
	
}

.title-bg{
text-align:center;
width:100%;
font-size:180px;
text-transform:uppercase;
color:black;
letter-spacing:2px;
font-family: 'Source Sans Pro', sans-serif;
font-weight:600;
position: fixed;
top: 265px;
background:none;
z-index: 9;
-webkit-text-stroke-width: 10px;
-webkit-text-stroke-color: white;
	
}

/*
.css-typing
{
    width: 30em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end );
    animation: type 5s steps(50, end);
}

@keyframes type{
    from { width: 0 }
}

@-webkit-keyframes type{
    from { width: 0 }
}
*/



#sub { text-align:center;
width:100%;
position: fixed;
top: 350px;
z-index: 10;
margin-top:160px;
margin-bottom:50px;
	}

.subtitle { 
padding:10px;
text-align:center;
width:300px;
font-size:15px;
line-height:35px;
color:black;
letter-spacing:0px;
font-family: 'Inconsolata';
font-weight:600;
background:;
}

/*.sidetitle { 
margin-top:550px;
margin-left:9%;
width:10px;
font-size:20px;
position:fixed;
transform: rotate(-90deg);
-moz-transform: rotate(-90.0deg);  /* FF3.5+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
  
text-transform:uppercase;
color:#26479E;
letter-spacing:3px;
font-family: 'Source Sans Pro', sans-serif;
font-weight:900;
}


/* .sidetitle2 { 
margin-top:250px;
margin-left:90%;
font-size:20px;
position:fixed;
width:10px;
transform: rotate(90deg);
-moz-transform: rotate(90.0deg);  /* FF3.5+ */
       -o-transform: rotate(90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(90.0deg);  /* Saf3.1+, Chrome */
text-transform:uppercase;
color:#26479E;
letter-spacing:3px;
font-family: 'Source Sans Pro', sans-serif;
font-weight:900;
}


/* .sidetitle3 { 
text-align:center;
font-size:15px;
text-transform:uppercase;
color:#26479E;
letter-spacing:1px;
margin-bottom:50px;
font-family: 'Raleway', sans-serif;
font-weight:900;
}

*/


::selection { 
background: #00ffdd;
color:black;
}

.container{
width:100%;
}

/*#search {
  height: 40px;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 240px;
  margin: 0 auto;
  z-index: 100;
  left: 50%;
  top: 0;
  margin-left: -130px;
  border-radius:0 0 5px 5px;
}

.search-wrap {
  background: white;
  line-height: 30px;
  height: 30px;
  text-align: left;
  border-radius: 3px;
  width: 230px;
  margin: 0;
  border: 1px solid black;
}
*/



#photos-wrap {
  width: 100%;
  margin:0px;
  position: center;
  z-index: 1;
}

.photo .avatar {
	
  width: 40px;
  height: 40px;
  padding: 2px;
  position: absolute;
  bottom: 11px;
  right: 8px;
  background: black;
}

.photo  {
  margin-bottom: 20px;
  float: left;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 1px;
  background:white;
  padding: 1px;
  margin: 1px;
}
.photo:hover  {
	background: black;
	display:block;

	}

.photo .heart {
  height: 16px;
  position: absolute;
  left: 13px;
  bottom: 16px;
  padding: 0 5px 0 22px;
font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-radius: 2px;
  border: 1px solid #ddd;
  background: white url('../images/fav.png') no-repeat 2px 0;
}



/*

.button{
	position:fixed;
	top: 230px;
left: 400px;
right: 400px;
z-index: 10;
	} 
	
*/

.paginate {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing:0px;
  display: block;
  clear: both;
  text-align: center;
  padding: 0;
  height: 100px;
}

/*
.btn{
	background-color:white;
	color:black;
	text-decoration:none;
	
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000000;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

.btn:hover {
  background: #00ffdd;
  text-decoration: none;
}

*/


.igicon{ 
text-align:center;
margin-bottom:10px;
}


#ct{
	margin-left:40%; 
clear: both;
z-index: 1;
  position: fixed;
  text-align:center;
    display: block;
	background:#FFFFFF;
	padding:5px;
	margin-top:26px;
}